<div id="profile">
  <h2>@<%= username %> is in show.ejs</h2>
</div>

<% if (session !== undefined && username !== session.username) { %>
  <form action="/profile/<%= username %>/follow" method="POST">
    <button class="button-blue"><%= button_text %></%%></button>
  </form>
  <a class="link" href=".././tweets/">index</a>
<% }
    else {%>
       <a class="link" href="/tweets/new">New tweet</a>
       <a class="link" href="/logout">Logout</a>
       <a class="link" href="/timeline">Global timeline</a>
  <%  }%>

<div id="container">
  <% if (tweets.length > 0) { %>
    <% tweets.forEach(function(tweet) { %>
      <div class="tweet-container">
        <p><%= tweet.tweet %></p>
        <p class="date">
          Created: <%= moment(tweet.created_at).format("LL, LTS") %>
          <br>
          Updated: <%= moment(tweet.updated_at).format("LL, LTS") %>
        </p>
      </div>
    <% }) %>
  <% } else { %>
    <div class="tweet-container no-tweets">
      <p>@<%= username %> hasn't tweeted yet.</p>
    </div>
  <% } %>
</div>
