<!-- views/timeline/index.ejs -->

<div id="timeline">
  <% if (timeline.length > 0) { %>
    <% timeline.forEach(function(tweet) { %>
      <div class="tweet-container">
        <span>
          <a href="/profile/<%= tweet.user_name %>">
            @<%= tweet.user_name %>
          </a>
        </span><br>
        <p><%= tweet.tweet %></p>
        <p class="date">

          Created: <%= moment(tweet.created_at).format("LL, LTS") %>
          <br>
          updated: <%= moment(tweet.updated_at).format('LLL')%>
        </p>
      </div>
    <% }) %>
  <% } else { %>
    <div class="tweet-container no-tweets">
      <p>The timeline is empty</p>
    </div>
  <% } %>
</div>
